fastapi==0.115.6
uvicorn==0.34.0
sqlalchemy==2.0.36
pydantic==2.10.4
email-validator
python-jose[cryptography]==3.3.0
passlib==1.7.4
pandas==2.2.3
python-multipart==0.0.20
alembic==1.14.0
pytest==8.3.4
psycopg2-binary==2.9.10
